.flickerplate{position:relative;width:18.75rem;height:18.125rem;background-color:#e6e6e6;overflow:hidden}
.flickerplate ul.flicks{width:10000%;height:100%;padding:0px;list-style:none;margin:0;}
.flickerplate ul.flicks>li{float:left;width:1%;height:100%;background-position:center;background-size:cover;display:table}
.flickerplate .dot-navigation{position:absolute;bottom:0;width:100%;text-align:center;z-index:100}
.flickerplate .dot-navigation ul{text-align:center;list-style:none;margin: 0;margin-bottom: 0.5rem;}
.flickerplate .dot-navigation ul li{display:inline-block;float:none}
.flickerplate .dot-navigation .dot{width:1.25rem;height:0.15rem;opacity: 0.55;
background: #F2F2F2;transition:background-color 0.2s ease-out;-o-transition:background-color 0.2s ease-out;-ms-transition:background-color 0.2s ease-out;transition:background-color 0.2s ease-out}
.flickerplate .dot-navigation .dot:hover{cursor:pointer;background-color:rgba(255,255,255,0.6)}
.flickerplate .dot-navigation .dot.active{background-color:#D7B359;}
.flickerplate .dot-navigation.left,.flickerplate .dot-navigation.left ul{text-align:left}
.flickerplate .dot-navigation.right,.flickerplate .dot-navigation.right ul{text-align:right}
.flickerplate.animate-transform-slide ul.flicks{-webkit-perspective:1000;-webkit-backface-visibility:hidden;transform:translate3d(0%, 0px, 0px);-webkit-transform:translate3d(0%, 0px, 0px);-webkit-transition:-webkit-transform 0.6s;-o-transition:-o-transform 0.6s;-moz-transition:-moz-transform 0.6s;transition:transform 0.6s}
.flickerplate.animate-transition-slide ul.flicks{position:relative;left:0%;-webkit-transition:left 0.4s ease-out;-moz-transition:left 0.4s ease-out;-o-transition:left 0.4s ease-out;-ms-transition:left 0.4s ease-out;transition:left 0.4s ease-out}
.flickerplate.animate-jquery-slide ul.flicks{position:relative;left:0%}.flickerplate.animate-scroller-slide{padding-bottom:0px;overflow:auto}
/*.flickerplate.animate-scroller-slide ul.flicks{position:auto}*/
